.side-ber
  .side-ber__top
    .side-ber__edit
      .side-ber__edit__top-items
        .side-ber__edit__top-items__name
          = current_user.name
        .side-ber__edit__top-items__icon
          = link_to new_group_path do
            %i.far.fa-edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
    .side-ber__group-list
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .side-ber__group-list__group-name
              = group.name
            .side-ber__group-list__message
              メッセージはまだありません。